@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

:root {
  --swiper-navigation-color: #eab308;
  --swiper-pagination-color: #eab308;
  --swiper-pagination-bullet-inactive-color: #111827;
  --swiper-pagination-bullet-inactive-opacity: .6;
  --swiper-navigation-size: 44rem;
  --swiper-pagination-bullet-horizontal-gap: 15rem;
  --swiper-pagination-bullet-width: 20rem;
  --swiper-pagination-bullet-height: 20rem;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: #020617;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 1px;
  font-size: calc(0.6px + 0.4 * (100vw - 320px) / 256);
}
@media screen and (min-width: 576px) {
  html {
    font-size: 1px;
  }
}

.container {
  max-width: 1148px;
  padding: 0 20px;
  margin-inline: auto;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1f2937;
}

.btn {
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #eab308;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}
.btn:hover {
  background: #fca400;
}

.header {
  padding: 16rem 0;
  position: sticky;
  top: 0;
  background: #020617;
  z-index: 4;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20rem;
}
.header__logo {
  color: #fff;
  font-size: 24rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo span {
  color: #eab308;
}
.header__menu {
  display: none;
}
@media (max-width: 992px) {
  .header__menu {
    display: inline-block;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    min-width: 250rem;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #eab308;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.2s all ease-out;
    transition: 0.2s all ease-out;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  .header__nav.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 3;
  }
}
.header__a {
  color: #9ca3af;
  font-size: 16rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}
@media (max-width: 992px) {
  .header__a {
    color: #000;
  }
}
.header__a.is-active, .header__a:hover {
  color: #fff;
}

.welcome {
  padding: 96rem 0;
  padding-right: 18rem;
  background: #111827;
}
@media (max-width: 576px) {
  .welcome {
    padding: 60rem 0;
  }
}
.welcome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20rem;
}
@media (max-width: 992px) {
  .welcome .container {
    -ms-flex-negative: inherit;
        flex-shrink: inherit;
  }
}
@media (max-width: 576px) {
  .welcome .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .welcome__container {
    max-width: 525em;
  }
}
.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 992px) {
  .welcome__info {
    -ms-flex-negative: inherit;
        flex-shrink: inherit;
  }
}
.welcome__hello {
  color: #eab308;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  margin-bottom: 24rem;
}
.welcome__name {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
  margin-bottom: 8rem;
}
.welcome__role {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  margin-bottom: 24rem;
  max-width: 466rem;
}
.welcome__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 992px) {
  .welcome__img {
    -ms-flex-negative: inherit;
        flex-shrink: inherit;
  }
}

.about {
  padding-top: 96rem;
  padding-bottom: 133rem;
}
@media (max-width: 576px) {
  .about {
    padding: 60rem 0;
  }
}
@media (max-width: 992px) {
  .about__container {
    -ms-flex-negative: inherit;
        flex-shrink: inherit;
    padding-left: 40rem;
  }
}
@media (max-width: 576px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 45rem;
    max-width: 525em;
  }
}
.about__image {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about__image img {
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  .about__image {
    -ms-flex-negative: inherit;
        flex-shrink: inherit;
  }
}
.about__image-backdrop {
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100% + 8rem);
  right: 38rem;
  bottom: -28rem;
  border-radius: 24rem;
  border: 16rem solid #eab308;
  z-index: 1;
}
.about__title {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
  margin-bottom: 32rem;
}
.about__title span {
  color: #eab308;
}
.about__descr {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  margin-bottom: 40rem;
  max-width: 461rem;
}
.about__descr_bottom {
  margin-top: 18rem;
  max-width: 509rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 89rem;
}

.service {
  padding: 96rem 0;
  background: #111827;
}
@media (max-width: 576px) {
  .service {
    padding: 60rem 0;
  }
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 576px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding: 0;
    max-width: 540em;
  }
}
.service__info {
  max-width: 461rem;
}
@media (max-width: 576px) {
  .service__info {
    padding-left: 20rem;
  }
}
.service__title {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
}
.service__title span {
  color: #eab308;
}
.service__descr {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
}
.service__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30rem;
}
@media (max-width: 992px) {
  .service__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.service__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32rem;
  gap: 32rem;
  background: #020617;
  border-radius: 12rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.service__card-item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
@media (max-width: 992px) {
  .service__card-item {
    padding: 39rem;
    gap: 10rem;
  }
}
.service__card-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.service__card-title {
  color: #f3f4f6;
  text-align: center;
  font-size: 26rem;
  font-weight: 700;
  line-height: 41rem;
  max-width: 204rem;
  margin-bottom: 16rem;
}
.service__card-descr {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  max-width: 286rem;
}

.portfolio {
  padding: 96rem 0;
}
@media (max-width: 576px) {
  .portfolio {
    padding: 60rem 18rem;
  }
}
.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 576px) {
  .portfolio__container {
    max-width: 540em;
  }
}
.portfolio__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__title {
  color: #f3f4f6;
  text-align: center;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
}
.portfolio__title span {
  color: #eab308;
}
.portfolio__descr {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  max-width: 461rem;
}
.portfolio__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28rem;
}
@media (max-width: 992px) {
  .portfolio__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .portfolio__card {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.portfolio__card-item {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.portfolio__card-item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.portfolio__card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28rem;
  max-width: 540rem;
}
@media (max-width: 576px) {
  .portfolio__card_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__card-big {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.portfolio__card-big:hover {
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}
@media (max-width: 576px) {
  .portfolio__card-big {
    max-width: 256px;
  }
}
.portfolio swiper-container {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .portfolio swiper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.portfolio swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio swiper-slide :root {
  --swiper-navigation-size: 44rem;
}
.portfolio swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12rem;
  -webkit-transition: none;
  transition: none;
}
.portfolio swiper-slide img:hover {
  -webkit-transform: none;
          transform: none;
}

.experience {
  padding: 85rem 0;
  background: #191d28;
}
@media (max-width: 576px) {
  .experience {
    padding: 60rem 0;
  }
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 576px) {
  .experience__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 540em;
  }
}
.experience__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 730rem;
}
@media (max-width: 576px) {
  .experience__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.experience__title {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
}
.experience__title span {
  color: #eab308;
}
.experience__descr {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  max-width: 286rem;
}
.experience__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29rem;
}
@media (max-width: 992px) {
  .experience__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.experience__card-item {
  background: #020617;
  border-radius: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
  gap: 8rem;
}
.experience__card-item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.experience__card-data {
  color: #d1d5db;
  font-size: 20rem;
  font-weight: 400;
  line-height: 27rem;
}
.experience__card-title {
  color: #eab308;
  text-align: center;
  font-size: 26rem;
  font-style: normal;
  font-weight: 700;
  line-height: 41rem;
}
.experience__card-subtitle {
  color: #d1d5db;
  font-size: 16rem;
  font-weight: 700;
  line-height: 27rem;
}
.experience__card-descr {
  color: #6b7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
}

.contact {
  padding: 96rem 0;
}
@media (max-width: 576px) {
  .contact {
    padding: 60rem 0;
  }
}
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__title {
  color: #f3f4f6;
  text-align: center;
  font-size: 42rem;
  font-style: normal;
  font-weight: 700;
  line-height: 64rem;
  margin-bottom: 24rem;
}
.contact__title span {
  color: #eab308;
}
.contact__descr {
  color: #6b7280;
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  max-width: 685rem;
  margin-bottom: 56rem;
}
@media (max-width: 576px) {
  .contact__descr {
    margin-bottom: 28rem;
  }
}
.contact__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16rem;
}
.contact__a {
  color: #f3f4f6;
  font-size: 16rem;
  font-weight: 400;
  line-height: 41rem;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.contact__a span {
  color: #eab308;
}
.contact__a:hover {
  color: #0830f9;
}
.contact__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 233rem;
}
@media (max-width: 992px) {
  .contact__bottom-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 100rem;
  }
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact__field {
  display: block;
  margin-bottom: 32rem;
}
.contact__field ::-webkit-input-placeholder {
  color: #f3f4f6;
}
.contact__field ::-moz-placeholder {
  color: #f3f4f6;
}
.contact__field :-ms-input-placeholder {
  color: #f3f4f6;
}
.contact__field ::-ms-input-placeholder {
  color: #f3f4f6;
}
.contact__field ::placeholder {
  color: #f3f4f6;
}
.contact__name {
  display: block;
  border: 0;
  outline: 0;
  width: 100%;
  background: #1f2937;
  padding: 12rem;
  font-size: 16rem;
  color: #f3f4f6;
  font-weight: 400;
  line-height: 41rem;
  border-radius: 4rem;
  min-height: 63rem;
  min-width: 350rem;
}
@media (max-width: 992px) {
  .contact__name {
    min-width: 400rem;
  }
}
.contact__text {
  display: block;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 12rem;
  color: #f3f4f6;
  border-radius: 4rem;
  min-height: 166rem;
  min-width: 540rem;
  background: #1f2937;
  font-size: 16rem;
  font-weight: 400;
  resize: none;
  line-height: 41rem;
  font-family: Lexend Deca;
}
@media (max-width: 992px) {
  .contact__text {
    min-height: 136rem;
    min-width: 400rem;
  }
}

.footer {
  padding: 56rem 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__title {
  color: #fff;
  text-align: center;
  font-size: 40rem;
  font-weight: 700;
  margin-bottom: 24rem;
}
.footer__descr {
  color: #6b7280;
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  margin-bottom: 56rem;
  max-width: 685rem;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16rem;
  font-size: 24rem;
}
.footer .fa-brands {
  color: #1f2937;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer .fa-brands:hover {
  color: #eab308;
}
.footer .fa-linkedin {
  color: #eab308;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer .fa-linkedin:hover {
  color: rgb(5, 151, 249);
}
.footer .fa-pinterest:hover {
  color: rgb(255, 255, 255);
}
.footer .fa-youtube:hover {
  color: rgb(249, 29, 5);
}
.footer .fa-instagram:hover {
  color: rgb(216, 5, 249);
}
.footer .fa-x-twitter:hover {
  color: rgb(5, 249, 135);
}
.footer .fa-facebook:hover {
  color: rgb(5, 143, 249);
}/*# sourceMappingURL=style.css.map */