.about {
  padding-top: 96rem;
  padding-bottom: 133rem;
  @include mobile {
    padding: 60rem 0;
  }
  &__container {
    @include tablet {
      flex-shrink: inherit;
      padding-left: 40rem;
    }
    @include mobile {
      flex-direction: column-reverse;
      padding-left: 45rem;
      max-width: 525em;
    }
  }
  &__image {
    position: relative;
    flex-shrink: 0;
    img {
      position: relative;
      z-index: 2;
    }
    @include tablet {
      flex-shrink: inherit;
    }
  }

  &__image-backdrop {
    position: absolute;
    width: calc(100% - 4rem);
    height: calc(100% - -8rem);
    right: 38rem;
    bottom: -28rem;
    border-radius: 24rem;
    border: 16rem solid #eab308;
    z-index: 1;
  }

  &__title {
    color: #f3f4f6;
    font-size: 42rem;
    font-weight: 700;
    line-height: 64rem;
    margin-bottom: 32rem;

    span {
      color: $primary-color;
    }
  }

  &__descr {
    color: $color-descr;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    margin-bottom: 40rem;
    max-width: 461rem;
    &_bottom {
      margin-top: 18rem;
      max-width: 509rem;
    }
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 89rem;
}
