.contact {
  padding: 96rem 0;
  @include mobile {
    padding: 60rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-title;
    text-align: center;
    font-size: 42rem;
    font-style: normal;
    font-weight: 700;
    line-height: 64rem;
    margin-bottom: 24rem;
    span {
      color: $primary-color;
    }
  }

  &__descr {
    color: $color-descr;
    text-align: center;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    max-width: 685rem;
    margin-bottom: 56rem;
    @include mobile {
      margin-bottom: 28rem;
    }
  }

  &__contacts {
    display: flex;
    gap: 16rem;
  }

  &__a {
    color: $color-title;
    font-size: 16rem;
    font-weight: 400;
    line-height: 41rem;
    transition:  0.3s all ease;
    span {
      color: $primary-color;
    }
    &:hover {
      color: #0830f9;
    }
  }
  &__bottom-container {
    display: flex;
    align-items: center;
    gap: 233rem;
    @include tablet {
      flex-wrap: wrap;
      gap: 100rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__field {
    display: block;
    margin-bottom: 32rem;
    ::placeholder {
      color: $color-title;
    }
  }

  &__name {
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    background: $bacground-input;
    padding: 12rem;
    font-size: 16rem;
    color: $color-title;
    font-weight: 400;
    line-height: 41rem;
    border-radius: 4rem;
    min-height: 63rem;
    min-width: 350rem;
    @include tablet {
      min-width: 400rem;
    }
  }

  &__text {
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 12rem;
    color: $color-title;
    border-radius: 4rem;
    min-height: 166rem;
    min-width: 540rem;
    background: $bacground-input;
    font-size: 16rem;
    font-weight: 400;
    resize: none;
    line-height: 41rem;
    font-family: Lexend Deca;
    @include tablet {
      min-height: 136rem;
      min-width: 400rem;
    }
  }
}
