.service {
  padding: 96rem 0;
  background: $section-bg;
  @include mobile {
    padding: 60rem 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
      padding-left: 0;
      padding: 0;
      max-width: 540em;
    }
  }

  &__info {
    max-width: 461rem;
    @include mobile {
      padding-left: 20rem;
    }
  }

  &__title {
    color: $color-title;
    font-size: 42rem;
    font-weight: 700;
    line-height: 64rem;
    span {
      color: $primary-color;
    }
  }

  &__descr {
    color: $color-descr;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
  }

  &__card {
    display: flex;
    gap: 30rem;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32rem;
    gap: 32rem;
    background: $body-bg;
    border-radius: 12rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.08);
    }
    @include tablet {
      padding: 39rem;
      gap: 10rem;
    }
  }

  &__card-img {
    flex-shrink: 0;
  }

  &__card-title {
    color: $color-title;
    text-align: center;
    font-size: 26rem;
    font-weight: 700;
    line-height: 41rem;
    max-width: 204rem;
    margin-bottom: 16rem;
  }

  &__card-descr {
    color: $color-descr;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    max-width: 286rem;
  }
}
